@font-face {
  font-family: Themysion;
    src: url('./assets/Themysion.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 
  Black: #000000
  Dark Brown: #643300
  Brown: #7B3B12
  Beige: #65451F
  Beige: #61481C
*/

/* obsolete */
h1{
  color: rgb(21, 5, 0);

}

/* Global background colour */
body{
 /*background-color: rgb(187, 115, 63); */
 background-color: rgb(149, 95, 57); 
  /*background-color: #65451F;*/
}

/* Navigation colour */
.nav{
  background-color: rgb(195, 129, 84);
  background-color: #000000;
  
}

.nav-item > a {
  color:rgb(149, 95, 57); 
}

h1 {
  color: rgb(186, 36, 36);
}

ul> .nav-link{
  color:rgb(110, 103, 103)
}

ul > a.nav-link.activeButton {
  color: #643300;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;

}

/*  font & colour */
.Themysion {
  font-family: Themysion, Tahoma, serif;
  color: #643300
}

ul.navbar-nav a:hover { 
  color: #fff; 
}

footer a.nav-link a:hover{
  color: #fff; 
}

.activeButton {
  text-decoration: underline;
}

.carousel-item{

}

div{
 /* border: red solid 2px; */
}

.nav-item{
 /* border: blue solid 2px;
  text-align: center; */
}


