@font-face {
  font-family: Themysion;
    src: url('./assets/Themysion.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 
  Black: #000000
  Dark Brown: #643300
  Brown: #7B3B12
  Beige: #65451F
  Beige: #61481C
*/

/* obsolete */
h1{
  color: rgb(136, 74, 57);

}

/* Global background colour */
body{
 background-color: rgb(249, 224, 187); 
  background-color: #65451F;
}

/* Navigation colour */
.nav{
  background-color: rgb(195, 129, 84);
  background-color: #643300;
  color: #c9c9c9;
}

h1 {
  color: rgb(186, 36, 36);
  color: #000000
}

ul> .nav-link{
  color:rgb(253, 34, 34)
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #ffffff
}

/*  font & colour */
.Themysion {
  font-family: Themysion, Tahoma, serif;
  color: rgb(234, 82, 40);
  color: #000000
}

.carousel-item{

}

div{
 /* border: red solid 2px; */
}

.nav-item{
 /* border: blue solid 2px;
  text-align: center; */
}


